<div
  class="app-layout"
  [class.desktop-sidebar-expanded]="!isAppSidebarCollapsed && !isMobileView"
  [class.mobile-view]="isMobileView"
  [class.mobile-menu-open]="
    isMobileView && sidebarInstance?.isMobileMenuVisible
  "
>
  <app-sidebar
    #sidebarInstance
    (sidebarToggled)="onSidebarToggle($event)"
    [isMobile]="isMobileView"
  ></app-sidebar>

  <div *ngIf="!isMobileView" class="desktop-content-header-fixed">
    <div class="content-header-start">
      <span class="page-context-title"
        >Paper Indonesia Take Home Test - {{ pageTitle }}</span
      >
    </div>
    <div class="content-header-end">
      <button class="icon-button" aria-label="Notifications">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <div class="user-profile-static">
        <img
          src="https://iili.io/3DLMDkG.md.png"
          alt="User Avatar"
          class="user-avatar-content-header"
        />
        <span class="user-name-content-header">Farrel A. N.</span>
      </div>
    </div>
  </div>

  <main
    class="main-content-area"
    [class.sidebar-expanded]="!isAppSidebarCollapsed && !isMobileView"
    [class.no-sidebar-on-mobile]="isMobileView"
    [class.has-mobile-top-bar]="isMobileView"
  >
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>

  <div
    *ngIf="isMobileView && sidebarInstance?.isMobileMenuVisible"
    class="mobile-sidebar-backdrop"
    (click)="closeMobileMenu()"
  ></div>
</div>
